@using System.Web.Optimization;

@{
     ViewBag.Title = "Home";
     Layout = "~/Views/Shared/_Layout.cshtml";
}


<main>
     <section class="browse-all">
          <div id="search-bar" class="row justify-content-end" style="display: none;">
               <div class="col-auto">
                    <div class="d-flex justify-content-end">
                         <!-- Use d-flex and justify-content-end to align the form to the right -->
                         <form class="d-flex" role="search">
                              <input class="form-control me-2 rounded-pill" type="search" placeholder="Search" aria-label="Search" />
                         </form>
                    </div>
               </div>
          </div>

          <h2 style="color:white">Browse all</h2>
          <div class="album-container">
               <div class="album-card">
                    <h3>Rock</h3>
               </div>
               <div class="album-card">
                    <h3>Pop</h3>
               </div>
               <div class="album-card">
                    <h3>Hip-Hop</h3>
               </div>
               <div class="album-card">
                    <h3>Mood</h3>
               </div>
               <div class="album-card">
                    <h3>Workout</h3>
               </div>
               <div class="album-card">
                    <h3>Discover</h3>
               </div>
               <div class="album-card">
                    <h3>Party</h3>
               </div>
               <div class="album-card">
                    <h3>At Home</h3>
               </div>
               <div class="album-card">
                    <h3>Sleep</h3>
               </div>
               <div class="album-card">
                    <h3>Chill</h3>
               </div>
               <div class="album-card">
                    <h3>K-pop</h3>
               </div>
               <div class="album-card">
                    <h3></h3>
               </div>
               <div class="album-card">
                    <h3></h3>
               </div>
               <div class="album-card">
                    <h3></h3>
               </div>
               <div class="album-card">
                    <h3></h3>
               </div>


               <!-- Album cards will be dynamically generated here -->
          </div>
          <!-- Add more album cards here -->
     </section>
</main>
