@{
     ViewBag.Title = "LogOn";
     Layout = "~/Views/Shared/_LayoutWithUser.cshtml";
}

<main id="main">
     <section id="terms-and-conditions" class="terms-and-conditions">
          <div class="container-register">
               <h1>Înregistrare</h1>
               <input type="text" class="username" placeholder="Nume de utilizator"><br />
               <input type="email" class="email" placeholder="Adresă de email"><br />
               <input type="password" class="password" placeholder="Parola"><br />
               <input type="password" class="confirm-password" placeholder="Confirmare parolă">
               <p><input type="checkbox" id="TermsCheck"> Sunt de acord cu @Html.ActionLink("Termenii și condițiile", "TermService", "Home")</p>
               <p><input type="checkbox" id="PrivacyCheck"> Sunt de acord cu @Html.ActionLink("Politica de confidențialitate", "PrivacyPolicy", "Home")</p>

               <button class="RegisterButton" id="RegisterButton" onclick="registerUser()">Înregistrare</button>

               <p><br />@Html.ActionLink("Aveți deja un cont? Logare", "Login", "Login")</p>
          </div>
     </section>
</main><!-- End #main -->
