
@{
     ViewBag.Title = "_HeaderAuthentification";
}
<header class="CustomHeader">
     <nav class="CustomNav">
          <div class="HeaderAuthentification navbar-header">
               <a class="navbar-link-MSphere" aria-current="page" href="@Url.Action("Home", "Home")">MSphere</a>
          </div>
          <!-- Add your other navigation elements here -->
     </nav>
</header>
