
/* Set padding to keep content from hitting the edges */
.body-content {
     padding-left: 15px;
     padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
     max-width: 280px;
}

body {
     height: 1000px;
     background-color: black;
     padding-top: 68px;
}

.navbar {
     background-color: #141414;
     border-bottom-left-radius: 15px;
     border-bottom-right-radius: 15px;
     overflow: hidden;
}


.navbar-brand {
     font-family: 'Arial', sans-serif;
     font-size: 24px;
     color: #B2B8C5;
}

.navbar-nav .nav-link{
     font-family: 'Arial', sans-serif;
     font-size: 18px;
     color: #668778;
}

.navbar-brand:hover {
     color: #668778;
}

.navbar-nav .nav-link:hover {
     color: #B2B8C5;
}

main {
     padding: 20px;
     margin-left: 10px;
     margin-right: 10px;
     background-color: #141414; /* Darkened background */
     border-radius: 5px; /* Added border-radius */
}

.album-card {
     width: 200px;
     height: 200px;
     max-height: 100%; /* Ensures the card won't exceed the height of the container */
     background-color: #313539; /* Darkened background for album cards */
     color: white; /* Darkened text color */
     border-radius: 5px;
     padding: 15px;
     display: inline-block;
     margin-right: 20px;
     margin-bottom: 20px; /* Adds margin at the bottom of the card */
}

     .album-card:hover {
          cursor: pointer;
     }

.browse-all {
     padding: 20px;
}